---
layout: 
title: Web of Data Quality Workshop
subTitle: Web of Data Quality Workshop at The Web Conference 2025 
---

<html>
	<section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="font-weight: lighter;">
              <br/><br/>
              <h2>Web of Data Quality Workshop</h2>
              <br/>
                <p>
                  Web of Data Quality Workshop aims to foster an in-depth discussion to address Web of Data quality issues, fostering dialogue on the establishment of standardized processes, development of accessible tools, implementation of reusable best practices and workflows working across various domains. By bringing together academia, industry professionals, and practitioners, we aim to cultivate practical strategies and tools that can strengthen data pipelines across various domains, ensuring that data quality is prioritized, reproducible, and effective in driving reliable outcomes. Contributions in this direction will affect any data-driven pipeline dealing with machine readable data.
                 </p>
              </div>
        </div>
    </section>

	<body>
		<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" href="#about">Home</a>
                </li>   
                <li>
                    <a class="page-scroll" href="#topics">Call & Important dates</a>
                </li>
                <!--<li>
                    <a class="page-scroll" href="#submission">Submission details</a>
                </li>
                <li>
                    <a class="page-scroll" href="#dates">Important dates</a>
                </li>-->
                <li>
                    <a class="page-scroll" href="#program">Program</a>
                </li>
                <li>
                    <a class="page-scroll" href="#organizers">Organization</a>
                </li>
                <!--<li>
                    <a class="page-scroll" href="#pc">PC members</a>
                </li>-->
                <li class="dropdown">
                    <a href="#">Previous Editions <span class="caret"></span></a>
                    <ul class="submenu">
                        <li><a href="https://dqmlkg.github.io">DQMLKG 2024</a></li>
                        <li><a href="https://dataqualityws.github.io/previous/2025/">Web of Data Quality 2025</a></li>
                    </ul>
                </li>
                   
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>

    <section id="home">
    <!-- Header -->
        <div class="intro-header">

            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>{{ page.title }}</h1>
                            <h3>{{ page.subTitle }}</h3>
                            <hr class="intro-divider">
                            <ul class="list-inline intro-social-buttons">
                                <!--{% for social in site.social %}
                                <li>
                                    <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                                </li>
                                {% endfor %}
                                -->

                                <!--<a href="https://easychair.org/conferences/?conf=webofdataquality2025" class="btn btn-default btn-lg"><i class="fa fa-solid fa-rocket fa-fw"></i> <span class="network-name"> Submit now! </span></a> -->
                                <!--<a href="https://2024.eswc-conferences.org/registration" class="btn btn-default btn-lg"><i class="fa fa-solid fa-rocket fa-fw"></i> <span class="network-name"> Register now! </span></a>
                            -->
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->
    </section>


    <section id="services">

        <!-- ===================== 01 Call & Important Dates ===================== -->
        
        <div class="content-section-a">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-sm-12" id="topics">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Call & Important Dates</h2>
                <div class="lead">
        
        🎯 <strong>Topics of Interest</strong><br><br>
        
        <ul>
        <li>Web of Data Quality Assessment at Both Metadata and Data Levels</li>
        <li>Standardized, Reusable, and Tailored Approaches for Quality Assessment and Improvement</li>
        <li>Interplay and Alignment Among Different Standards for Data Quality</li>
        <li>Artificial Intelligence-Driven Approaches for Web of Data Quality Assessment and Improvement</li>
        <li>Impact of Data Quality on Governance of Responsible Artificial Intelligence</li>
        <li>Temporal Variability of Data Quality and Its Implications</li>
        <li>Data Quality Assessment and Improvement as Part of Complex Data Management Pipelines</li>
        <li>Alignment Between Intrinsic Quality Dimensions and "Fit for Use" Requirements</li>
        <li>Interplay and Correlation Among Different Quality Dimensions and Influencing Factors</li>
        </ul>
        
        🗓 <strong>Important Dates</strong><br><br>
        
        <ul>
        <li><del>18 December, 2024</del> 8 January, 2025 — Paper submission deadline</li>
        <li><del>13 January, 2025</del> 27 January, 2025 — Notification of Acceptance</li>
        <li>2 February, 2025 — Camera-ready paper due</li>
        <li><strong>April 28th, 2025 (1:30–5:00 PM, Sydney time)</strong> — Workshop Day</li>
        </ul>
        
        </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- ===================== 02 Program ===================== -->
        
        <div class="content-section-b">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-sm-12" id="program">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Program</h2>
                <div class="lead">
        
        <table class="table">
        <tr><th>Start</th><th>Speaker</th><th>Talk Title</th><th>Presentation</th></tr>
        <tr><td>13:30</td><td>Maria Angela Pellegrino</td><td>Workshop Opening</td><td><a href="assets/Intro-WebOfDataQualityWs.ppsx">Slides</a></td></tr>
        <tr><td>13:35</td><td><strong>Gianluca Demartini</strong></td><td><em>Bias in Data Annotations</em></td><td><a href="assets/Demartini-BiasInDataAnnotations.pdf">Slides</a></td></tr>
        <tr><td>14:20</td><td>Oshani Seneviratne</td><td>Explainability-Driven Quality Assessment</td><td><a href="assets/WoDQ2025-paper1.pdf">Slides</a></td></tr>
        <tr><td>14:35</td><td>Shima Esfandiari</td><td>Enhancing Data Quality by Identifying Influential Nodes</td><td><a href="assets/WoDQ2025-paper2.mp4">Video</a></td></tr>
        <tr><td>14:45</td><td>Yuhao Gong</td><td>Adaptive Confidence-aware Reinforcement Learning</td><td><a href="assets/WoDQ2025-paper3.mp4">Video</a></td></tr>
        <tr><td>15:00</td><td colspan="4"><strong>BREAK</strong></td></tr>
        <tr><td>15:30</td><td><strong>Kerry Taylor</strong></td><td><em>Does Data Quality Even Matter?</em></td><td><a href="assets/Taylor-DoesDataQualityEvenMatter.pdf">Slides</a></td></tr>
        <tr><td>16:15</td><td>Gabriele Tuozzo</td><td>Navigating the LOD Subclouds</td><td><a href="assets/WoDQ2025-paper4.pdf">Slides</a></td></tr>
        <tr><td>16:30</td><td>Elyas Meguellati</td><td>Are Large Language Models Good Data Preprocessors?</td><td><a href="assets/WoDQ2025-paper5.pdf">Slides</a></td></tr>
        <tr><td>16:45</td><td>Maria Angela Pellegrino</td><td>Closing Ceremony</td><td></td></tr>
        </table>
        
        </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- ===================== 03 Organization ===================== -->
        
        <div class="content-section-a">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-sm-12" id="organization">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Organization</h2>
                <div class="lead">
        
        <h3>Organizers</h3>
        <img class="organizers" src="assets/mariaangela-pellegrino.jpg" width="150">
        <img class="organizers" src="assets/anisa-rula.jpeg" width="150">
        <img class="organizers" src="assets/anelia-kurteva.jpeg" width="150">
        
        <h3>Advisory Board</h3>
        <img class="organizers" src="assets/heiko-paulheim.png" width="150">
        <img class="organizers" src="assets/laure-berti-equille.jpeg" width="150">
        <img class="organizers" src="assets/paul-groth.jpg" width="150">
        
        <h3>Program Committee</h3>
        <ul>
        <li>Aidan Hogan — Universidad de Chile</li>
        <li>Ernesto Jiménez-Ruiz — University of London</li>
        <li>Gabriele Tuozzo — University of Salerno</li>
        <li>Heiko Paulheim — Universität Mannheim</li>
        <li>Paul Groth — University of Amsterdam</li>
        </ul>
        
        </div>
              </div>
            </div>
          </div>
        </div>
        
    </section>
        
	<section id="contact">
        <div class="banner">
            <div class="container">
    
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Stay tuned!</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons">
                            {% for social in site.social %}
                            <li>
                                <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
            </div>
            <!-- /.container -->
    
        </div>
    </section>
    <!-- /.banner -->


	<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#topics">Call & Important dates</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#program">Program</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#organizers">Organization</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    
                </ul>
                <!--<p class="copyright text-muted small">{{ site.copyright }}</p>-->
            </div>
            <!--<div class="col-md-4">
                {{ site.credits }}
            </div>-->
        </div>
    </div>
</footer>

	<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

	</body>
</html>

