    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="font-weight: lighter;">
              <br/><br/>
              <h2>DQMLKG - Bridging Precision with Intelligence</h2>
              <br/>
                <p>
                  Machine Learning (ML) and Knowledge Graphs (KGs) possess a symbiotic relationship with the potential to mutually enhance their capabilities. 
                  ML can play a pivotal role in the construction of KGs by automating ontology design, inferring classes and relations from alternative sources, and aiding data curators in making informed decisions. ML algorithms need data to be in a "certain form", meaning that they need to get the data prepared and ensure high-quality data used as input. Poor-quality datasets can compromise ML systems in several ways.  The four data quality categories of intrinsic, contextual, representational, and accessibility are relevant to different stages of the ML development pipeline. For example, intrinsic data quality categories include accuracy, completeness, and consistency, while contextual data quality categories include bias, relevance, and validity.
                  Conversely, KGs can enrich ML models through node or graph embedding techniques, link prediction, supporting explainability and improving the overall performance of data-driven models. Low quality KGs, i.e., those not fit to be used, may lead to biased or inaccurate ML models, hindering their ability to generate meaningful insights or make informed decisions. 
                  The growing range of ML data management guidelines, frameworks and standards presents practitioners with a vast range of possible criteria to aspire to, on top of the traditional data management practices that were established in previous decades. 
                </p>

                <p>
                  This workshop aims to explore the intricate <b>interplay of data quality, ML, and KGs</b>, elucidating limitations in assessment methodologies, proposing effective methods for objective quality assessment, and addressing challenges on ML and AI in general, verify if and to what extent well-known quality metrics are compliant with ML-based quality assessment, and addressing FAIR principles. We also welcome proposals riding the path of Explainable AI, Large Language Models, Generative AI, and any AI-driven approach that can be applied to the Semantic Web technologies to support and enhance data quality assessment and improvement.
                </p>
                <br/>
              </div>
        </div>
    </section>
