<section id="services">
<!-- Page Content -->
{% assign current_dir = page.path | split: '/' | first %}

{% for post in site.posts reversed %}
  {% assign parts = post.path | split: '/' %}
  {% if parts.size == 3 and parts[0] == current_dir and parts[1] == '_posts' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                {% if post.img == NULL %}

                <div class="col-lg-12 col-sm-12" id="{{ post.tag }}">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>

                {% else %}
                <div class="col-lg-10 col-sm-push-9  col-sm-9" id="{{ post.tag }}">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-2 col-sm-pull-3  col-sm-3">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
                {% endif %}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">
            {% if post.img == NULL %}
            <div class="col-lg-12 col-sm-12" id="{{ post.tag }}">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>
                <div class="lead">{{ post.content }}</div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-10 col-sm-push-3  col-sm-9" id="{{ post.tag }}">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-2 col-sm-3">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
                {% endif %}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
    {% endif %}
{% endfor %}
</section>
